/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
@import url('https://fonts.googleapis.com/css?family=Raleway');

.page-offloading-wrapper {
    padding: 50px 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}

.section-offloading-title {
    color: #4D6D90;
    font-weight: 800;
}

.form-offload-label {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.form-offload-input,.form-offload-select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px !important;
}

.button-section-offloading-wrapper {
    text-align: center;
}

.publitio-offload-button {
    background-color: #4D6D90;
    padding: 10px 20px;
    border: 1px solid #4D6D90;
    color: white;
    border-radius: 3%;
    font-size: 20px;
    box-shadow: 5px 5px 5px grey;
    cursor: pointer;
}

.publitio-a {
    color: #4D6D90
}

.offloading-block {
    font-size: 0.8rem;
}

.error-offload-block {
    color: #cd3703;
}

.success-offload-block {
    color: #4BB543;
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 16px;
    left: 8px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.download-text {
    font-size: 16px;
}

input:checked + .slider {
    background-color: #4D6D90;
}

input[type="checkbox"]:disabled + .slider {
    background-color: #e2e2e2;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4D6D90;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.files-checkbox {
    display: flex;
    margin-top: 15px;
}

.offload-checkbox {
    flex-grow: 1;
}

.files_label {
    font-size:16px;
}

.files-offload-input {
    margin-top: 0 !important;
}

.off-margin {
    margin: 8px 0;
}
